body, html {
  height: 100%; 
  background-color: #f1f1f1; 
}
.hero-image {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/pizza.jpg");
  height: 35%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text{
  text-align: center; 
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: white; 
  padding: 80px 50px;
  display:inline-block;
}

.hero-image h1 {
  font: size 72px;
  letter-spacing:0.2em;
  font: white; 
  text-align: center;
  margin-top: 6%;
  }

.hero-image h4 {
  font: size 72px;
  letter-spacing:0.2em;
  font: white; 
  text-align: center;
  margin-top: 6%;
  }

.selectSize{
  text-align: center;
  padding:5px;
  
}
.selectSize .small img {
  text-align: center;
  width:60%;
  height:60%;
}
.selectSize .medium img {
  text-align: center;
  width:55%;
  height:55%;
}
.selectSize .large img {
  text-align: center;
  width:55%;
  height:55%;
}

.formatToppings{
  font-size: 20px;
}

#sizeAndToppings .btn {
  font-size: large;
  margin: 10px; 
  background-color: white;
  color:rgb(32, 32, 32); 
  font: verdana; 
}